{% extends "layout.html" %}

{% block title %}Users{% endblock %}
{% block css %}
{{ super() }}
<style rel="stylesheet">

</style>
{% endblock %}

{% block content %}

<section class="ftco-section ftco-bread">
    <div class="container">
        <div class="row no-gutters slider-text justify-content-center align-items-center">
            <div class="col-md-8 ftco-animate">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Users</span></p>
                <h1 class="bread">Users</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-2"></div>
            <div class="col-lg-6">
                <form method="post" action="./user">
                    <input type="hidden" name="action" value="add" />
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username" value="" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="text" class="form-control" name="password" value="" />
                    </div>
                    <div class="form-group">
                        <label>first name</label>
                        <input type="text" class="form-control" name="first_name" value="" />
                    </div>
                    <div class="form-group">
                        <label>last name</label>
                        <input type="text" class="form-control" name="last_name" value="" />
                    </div>
                    <div class="form-group">
                        <label>mail</label>
                        <input type="text" class="form-control" name="mail" value="" />
                    </div>
                    <div class="form-group">
                        <label>address</label>
                        <input type="text" class="form-control" name="address" value="" />
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

                <br><br><br><br><br><br>

            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block javascript %}
{{ super() }}
<script type="text/javascript">

</script>
{% endblock %}